@import "tailwindcss";

:root {
  --primary: hsl(232 60 51);
  --secondary: hsl(27 84 50);
  --background: hsl(232 34 97);
  --foreground: hsl(231 68 20);
  --muted: hsla(0 0 80 0.88);
  --muted-text: hsl(0 0 50);
  --muted-foreground: hsl(0 0 31);
  --muted-foreground-text: hsl(0 0 74);
  --surface-1: hsl(232 34 94);
  --surface-2: hsl(232 34 91);
  --surface-3: hsl(232 34 88);
  --surface-4: hsl(232 34 85);
}

.dark {
  --primary: hsl(232 100 71);
  --secondary: hsl(27 84 50);
  --background: hsl(235 33 10);
  --foreground: hsl(231 69 80);
  --muted: hsl(0 0 31);
  --muted-text: hsl(0 0 74);
  --muted-foreground: hsla(0 0 80 0.88);
  --muted-foreground-text: hsl(0 0 50);
  --surface-1: hsl(233 34 15);
  --surface-2: hsl(233 34 20);
  --surface-3: hsl(233 34 25);
  --surface-4: hsl(233 34 30);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-text: var(--muted-text);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-foreground-text: var(--muted-foreground-text);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-4: var(--surface-4);
}
